@model dotnetcorepms.Models.ChangePasswordModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Main content -->
<section class="content">
    <h3 class="page-title">Change Password</h3>

    <form method="post" asp-controller="Login" asp-action="ChangePassword">
        <!-- If no success message in flash session show change password form  -->
        <div class="panel panel-default">
            <div class="panel-heading">
                Edit
            </div>
            <div class="panel-body">
                @Html.AntiForgeryToken()
                @if (TempData["MessageUpdate"] != null)
                {
                    <p class="alert alert-success" id="successMessage">@TempData["MessageUpdate"]</p>
                }
                @Html.ValidationSummary(true)
                <div class="row">
                    <div class="col-xs-12 form-group">
                        <label class="control-label" asp-for="Password">Current Password</label>
                        <input asp-for="Password" type="password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 form-group">
                        <label class="control-label" asp-for="NewPassword">New Password</label>
                        <input asp-for="NewPassword" type="password" class="form-control" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 form-group">
                        <label class="control-label" asp-for="ConfirmPassword">New password confirmation</label>
                        <input asp-for="ConfirmPassword" type="password" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <input class="btn btn-danger" type="submit" value="Save">
    </form>

    <!-- </div>
    </div> -->
</section>